@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif; 
}
/*Navbar Section*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar img {
    width: 150px;
    padding-left: 10px;
}

.nav-links {
    display: flex;
    gap: 20px; 
    padding-right: 20px;
    
}
.nav-item {
  text-decoration: none; /* removes default underline */
  color: black;
  position: relative; /* needed for ::after positioning */
}
.nav-item.active::after {
  content: '';
  display: block;       
  height: 1.5px;
  background: black;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.nav-item:hover::after {
  content: '';
  display: block;
  height: 1.5px;
  background: rgb(14, 14, 14);
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
}
.nav-logo{
    display: flex;
    gap: 20px;
    padding: 10px;
}
.nav-search img{
    width: 35px;
    height: auto;
}
.nav-profile img{
    width: 30px;
    height: auto;
}
.dropdown{
    background-color: rgb(167, 233, 212);
    padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  
}
.dropdown a{
    text-decoration: none;
    color: black;
}
.nav-menu img{
    width: 30px;
    height: auto;
}
.nav-cart {
  position: relative;
  display: inline-block;
}
.nav-cart img{
    width: 30px;
    height:auto;
}
.nav-cart p {
  position: absolute;
  top: -5px;    /* adjust to place number above/right */
  right: -10px; /* adjust to place number near icon */
  background-color: red;
  color: white;
  font-size: 12px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Desktop (large screens) */
@media (min-width: 768px) {
  .nav-links { display: flex; }   
  .nav-menu { display: none; }     
}

/* Mobile (small screens) */
@media (max-width: 767px) {
  .nav-links { display: none; }    
  .nav-menu { display: block; }    
}
.side-bar {
  position: fixed;   /* stay in place */
  top: 0;
  left: 0;
  width: 250px;     
  height: 100%;      
  background: #fFF;  
  z-index: 1000;     
  padding: 20px;    
}

.side-bar a {
  display: block;
  padding: 12px;
  color: #000;
  text-decoration: none;
}

.close-btn {
  cursor: pointer;
}
/*Hero section*/
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 25px;
  flex-wrap: wrap; /* allows left and right to wrap on small screens */
}
.hero-left {
  flex: 1; 
  min-width: 250px; 
  padding-left: 100px;
}
.hero-left h1 {
  font-size: 48px;  
  font-family:'Playfair Display', serif;
  font-weight: 500;  
  line-height: 1.2;
  margin: 20px 0;
}

.hero-left p {
  font-size: 18px;                 
  font-family: 'Arial', sans-serif;  
  font-weight: 500;                  
  line-height: 1.4;                   
  margin: 5px 0;                     
  color: #333;                        
}



.hero-right {
  flex: 1;
  min-width: 250px;
}

.hero-right img {
  width: 100%;       
  max-width: 750px; 
  height: auto;     
}
/*Latest collection section*/
.title-heading {
  text-align: center;
  font-size: 30px;  
  font-family:'Playfair Display', serif;
  font-weight: 500;  
  line-height: 1.2;
  margin-top: 40px ;
}
.desc{
  text-align: center;
  padding-top: 20px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 20px;
}
.rendering-products {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 items per row */
  gap: 20px; /* space between items */
  margin-top: 20px;
  margin: 20px;
}
.rendering-products a {
  text-decoration: none;
  color: inherit;
  text-align: center;
}
.rendering-products img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}
/*ourpolicy.jsx*/
.our-policy{
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  gap: 200px;
  margin-top: 100px;
  margin-bottom: 40px;
}
.our-policy img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  padding-bottom: 20px;
}
.our-policy p{
  color: #666;
  padding-top: 5px;
}
/*Mobile view */
@media (max-width: 767px) {
  .our-policy {
    flex-direction: column;
    gap: 25px;
    padding: 20px;
  }

  .our-policy img {
    width: 50px;
    height: 50px;
  }

  .our-policy h4 {
    font-size: 16px;
  }

  .our-policy p {
    font-size: 13px;
  }
}
/*NewsletterBox.jsx*/
.letter-box{
  text-align: center;
  margin-top: 60px;
}
.letter-box h3{
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
}
.letter-box p{
   font-size: 16px;
  color: #666;
  padding-bottom: 10px;
}
.letter-box input{
  font-size: 20px;
  padding: 5px;
}
.letter-box button{
  font-size: 20px;
  background-color: #000;
  color: #fFF;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 50px ;
}
/* Mobile view */
@media (max-width: 767px) {
  .letter-box form {
    flex-direction: column;
    align-items: center;
  }

  .letter-box input {
    width: 80%;
  }

  .letter-box button {
    width: 85%;
  }
}
  /*footer.jsx*/
.footer{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;
  gap: 200px;
}
.footer div img {
  width: 120px;  
  height: auto; 
  padding: 10px; 
}
.footer h3{
  padding: 10px;
}
.footer ul{
  list-style: none;
  padding: 0;
  margin: 0;
  color: #666;
}
.footer p{
  color: #666;
}
.footer-copy {
  text-align: center;     
  padding: 15px;         
  background-color: #111;   
  color: #fff;             
  font-size: 15px;         
}

/*Mobile view */
@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px 10px;  
    gap: 10px;            
  }

  .footer div {
    margin-bottom: 10px; 
  }

  .footer img {
    width: 90px;
  }
}
section, .our-policy, .letter-box, .footer {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*collection page*/
.filter-heading{
  margin-left: 30px;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}
.filter-heading img{
  width: 10px;
}
.filter-categories {
  padding: 10px;
  border: 2px solid #ccc;
  width: 180px;
  border-radius: 5px;
  margin-left: 30px;
}

.filter-categories p {
  margin: 8px 0;
  font-size: 15px;
}
.filter-subcategories{
  margin-left: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 180px;
  margin-top: 20px;
}
.filter-subcategories p{
  margin: 8px 0;
  font-size: 15px;
}
/*RIGHT SIDE*/
.main-layout {
  display: flex;
  gap: 20px;
  width: 100%;
}

.right-column {
  
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-side p {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
  margin-top: -40px;
}

.right-side select {
  padding: 3px 5px;
  font-size: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
  background: white;
  margin-right: 50px;
  
}

.mapping-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* ALWAYS 4 per row */
  gap: 20px;
   margin-top: 20px;
  margin: 20px;
}

.mapping-products a{
    text-decoration: none;
  color: inherit;
  text-align: center;
}  
.mapping-products img{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px; 
}