@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif; 
}
/*Navbar Section*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar img {
    width: 150px;
    padding-left: 10px;
}

.nav-links {
    display: flex;
    gap: 20px; 
    padding-right: 20px;
    
}
.nav-item {
  text-decoration: none; /* removes default underline */
  color: black;
  position: relative; /* needed for ::after positioning */
}
.nav-item.active::after {
  content: '';
  display: block;       
  height: 1.5px;
  background: black;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.nav-item:hover::after {
  content: '';
  display: block;
  height: 1.5px;
  background: rgb(14, 14, 14);
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
}
.nav-logo{
    display: flex;
    gap: 20px;
    padding: 10px;
}
.nav-search img{
    width: 35px;
    height: auto;
}
.nav-profile img{
    width: 30px;
    height: auto;
}
.dropdown{
    background-color: rgb(167, 233, 212);
    padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  
}
.dropdown a{
    text-decoration: none;
    color: black;
}
.nav-menu img{
    width: 30px;
    height: auto;
}
.nav-cart {
  position: relative;
  display: inline-block;
}
.nav-cart img{
    width: 30px;
    height:auto;
}
.nav-cart p {
  position: absolute;
  top: -5px;    /* adjust to place number above/right */
  right: -10px; /* adjust to place number near icon */
  background-color: red;
  color: white;
  font-size: 12px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Desktop (large screens) */
@media (min-width: 768px) {
  .nav-links { display: flex; }   
  .nav-menu { display: none; }     
}

/* Mobile (small screens) */
@media (max-width: 767px) {
  .nav-links { display: none; }    
  .nav-menu { display: block; }    
}
.side-bar {
  position: fixed;   /* stay in place */
  top: 0;
  left: 0;
  width: 250px;     
  height: 100%;      
  background: #fFF;  
  z-index: 1000;     
  padding: 20px;    
}

.side-bar a {
  display: block;
  padding: 12px;
  color: #000;
  text-decoration: none;
}

.close-btn {
  cursor: pointer;
}
/*Hero section*/
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 25px;
  flex-wrap: wrap; /* allows left and right to wrap on small screens */
}
.hero-left {
  flex: 1; 
  min-width: 250px; 
  padding-left: 100px;
}
.hero-left h1 {
  font-size: 48px;  
  font-family:'Playfair Display', serif;
  font-weight: 500;  
  line-height: 1.2;
  margin: 20px 0;
}

.hero-left p {
  font-size: 18px;                 
  font-family: 'Arial', sans-serif;  
  font-weight: 500;                  
  line-height: 1.4;                   
  margin: 5px 0;                     
  color: #333;                        
}



.hero-right {
  flex: 1;
  min-width: 250px;
}

.hero-right img {
  width: 100%;       
  max-width: 750px; 
  height: auto;     
}
/*Latest collection section*/
.title-heading {
  text-align: center;
  font-size: 30px;  
  font-family:'Playfair Display', serif;
  font-weight: 500;  
  line-height: 1.2;
  margin-top: 40px ;
}
.desc{
  text-align: center;
  padding-top: 20px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 20px;
}
.rendering-products {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 items per row */
  gap: 20px; /* space between items */
  margin-top: 20px;
  margin: 20px;
}
.rendering-products a {
  text-decoration: none;
  color: inherit;
  text-align: center;
}
.rendering-products img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

  
